[importlinter]
root_packages =
    yamltrip

[importlinter:contract:0]
name = yamltrip
type = layers
layers =
    editor
    document
    sync
    errors
containers =
    yamltrip
exhaustive = True
exhaustive_ignores =
    _core
    _display
    _types
ignore_imports =
    yamltrip.document -> yamltrip
    yamltrip.sync -> yamltrip
